html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding: 0 2rem;
    color: #333;
    margin: 0;
}

.debug, .debug * {
    outline: 1px dashed green;
}

.radley {
    font-family: 'Radley', serif;
    letter-spacing: .04rem;
    line-height: 1.618;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .1618rem;
}

.center {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
}

p {
    font-size: 1.618rem;
    margin: 3rem 0;
}

p.reference {
    text-transform: uppercase;
    font-size: .77rem;
    margin-top: 5rem;
    color: #9F9F9F;
}
